.form {
  display: flex;
  border-top: thick double #32a1ce;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.0em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: underline overline #FF3028;
  background: content-box radial-gradient(crimson, skyblue);
  padding: 10px;
  display: inline-block;
  border: none;
  width: 20%;
}