.textContainer {
  
   display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: hsl(0, 8%, 93%);
  height: 70%;
  /* justify-content: space-between;  */
}

.activeContainer {
  display: flex;
  flex-direction: column;
  background-color: #f1ebeb;
  color: dodgerblue;
  width: 100%;
  margin: 5px;
  line-height: 20px;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 0%;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    /* display: none; */
  }
}